In [1]:
import pandas as pd

In [102]:
df1 = pd.read_csv('final_master_dataset.csv')
df2 = pd.read_csv('NLP DATASET.csv')
df3 = pd.read_csv('Scraped_questions.csv')

## Preparing the first dataframe

In [104]:
df1.head(10)

,Category,Question ID,Question,Source,Answers
0,Speculation - Pandemic Duration,42,will covid end soon,Google Search,"may 1st, i think, is completely unrealistic, s..."
1,Speculation - Pandemic Duration,42,will covid end,Yahoo Search,"may 1st, i think, is completely unrealistic, s..."
2,Speculation - Pandemic Duration,42,when covid will be over,Google Search,"may 1st, i think, is completely unrealistic, s..."
3,Speculation - Pandemic Duration,42,when covid lockdown ends,Google Search,"may 1st, i think, is completely unrealistic, s..."
4,Speculation - Pandemic Duration,42,will covid go away,Google Search,"may 1st, i think, is completely unrealistic, s..."
5,Speculation - Pandemic Duration,42,when covid will end,Yahoo Search,"may 1st, i think, is completely unrealistic, s..."
6,Speculation - Pandemic Duration,42,will covid ever go away,Google Search,"may 1st, i think, is completely unrealistic, s..."
7,Speculation - Pandemic Duration,42,when covid over,Google Search,"may 1st, i think, is completely unrealistic, s..."
8,Speculation - Pandemic Duration,42,will covid ever end,Bing Search,"may 1st, i think, is completely unrealistic, s..."
9,Speculation - Pandemic Duration,42,when covid ends,Yahoo Search,"may 1st, i think, is completely unrealistic, s..."

In [105]:
df1_ = df1[['Question ID', 'Question', 'Answers']].dropna()

In [106]:
df1_['Question'] = df1_.groupby(['Question ID'])['Question'].transform(lambda x : ' / '.join(x))

In [107]:
df1_.head()

,Question ID,Question,Answers
0,42,will covid end soon / will covid end / when co...,"may 1st, i think, is completely unrealistic, s..."
1,42,will covid end soon / will covid end / when co...,"may 1st, i think, is completely unrealistic, s..."
2,42,will covid end soon / will covid end / when co...,"may 1st, i think, is completely unrealistic, s..."
3,42,will covid end soon / will covid end / when co...,"may 1st, i think, is completely unrealistic, s..."
4,42,will covid end soon / will covid end / when co...,"may 1st, i think, is completely unrealistic, s..."

In [108]:
df1_ = df1_.drop_duplicates().reset_index(drop=True).drop(['Question ID'], axis = 1)

In [109]:
df1_.head()

,Question,Answers
0,will covid end soon / will covid end / when co...,"may 1st, i think, is completely unrealistic, s..."
1,who is at higher risk / what is the risk of my...,older adults and people of any age who have se...
2,does covid live on clothes / can covid live on...,although the new covid weakens and dies over t...
3,what covid means / what covid / why covid name...,"corona means crown, and covides have a crown o..."
4,why covid is worse in us / why is the us so fa...,experts say its due to cuts in federal funding...

In [110]:
df1_.shape

(245, 2)

## Preparing the second dataframe

In [111]:
df2.head()

,question,answer
0,What is a novel coronavirus?,A novel coronavirus is a new coronavirus that ...
1,Why is the disease being called coronavirus di...,"On February 11, 2020 the World Health Organiza..."
2,How does the virus spread?,The virus that causes COVID-19 is thought to s...
3,Can I get COVID-19 from food (including restau...,Currently there is no evidence that people can...
4,Will warm weather stop the outbreak of COVID-19?,It is not yet known whether weather and temper...

In [112]:
df2.columns = ['Question', 'Answers']

In [113]:
df2.head()

,Question,Answers
0,What is a novel coronavirus?,A novel coronavirus is a new coronavirus that ...
1,Why is the disease being called coronavirus di...,"On February 11, 2020 the World Health Organiza..."
2,How does the virus spread?,The virus that causes COVID-19 is thought to s...
3,Can I get COVID-19 from food (including restau...,Currently there is no evidence that people can...
4,Will warm weather stop the outbreak of COVID-19?,It is not yet known whether weather and temper...

In [124]:
df2.shape

(380, 2)

## Preparing the third dataframe

In [114]:
df3.head()

,Unnamed: 0,question,answer
0,0,What is the incubation period of the virus?,Longitudinal analysis of laboratory findings d...
1,1,What is the length of viral shedding after ill...,Viral Kinetics and Antibody Responses in Patie...
2,2,What is the incubation period across different...,Children are unlikely to have been the primary...
3,3,What is the proportion of patients who were as...,A considerable proportion of individuals with ...
4,4,What is the proportion of pediatric patients w...,Epidemiological and Clinical Characteristics o...

In [115]:
df3 = df3.drop(['Unnamed: 0'], axis = 1)

In [116]:
df3.columns = ['Question', 'Answers']

In [117]:
df3.head()

,Question,Answers
0,What is the incubation period of the virus?,Longitudinal analysis of laboratory findings d...
1,What is the length of viral shedding after ill...,Viral Kinetics and Antibody Responses in Patie...
2,What is the incubation period across different...,Children are unlikely to have been the primary...
3,What is the proportion of patients who were as...,A considerable proportion of individuals with ...
4,What is the proportion of pediatric patients w...,Epidemiological and Clinical Characteristics o...

## Merging the dataframes

In [122]:
final_dataset = pd.concat([df1_, df2, df3]).reset_index(drop = True)

In [125]:
final_dataset.head()

,Question,Answers
0,will covid end soon / will covid end / when co...,"may 1st, i think, is completely unrealistic, s..."
1,who is at higher risk / what is the risk of my...,older adults and people of any age who have se...
2,does covid live on clothes / can covid live on...,although the new covid weakens and dies over t...
3,what covid means / what covid / why covid name...,"corona means crown, and covides have a crown o..."
4,why covid is worse in us / why is the us so fa...,experts say its due to cuts in federal funding...

In [123]:
final_dataset.to_csv('final_dataset.csv')